<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzm.project.mapper.UserMapper">


	<select id="findEmailPassword"
		resultType="com.gzm.project.model.user.User">
		select * from user where email=#{email} and
		password=#{password}
	</select>

	<select id="findByUsername" resultType="int">
		select count(*) from user where username=#{username}
	</select>

	<insert id="save">
		insert into user (username, password, email)
		values(#{username},#{password},#{email})
	</insert>
</mapper>